* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 10px 10px;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.hide {
    display: none;
}

#quiz {
    margin-top: 20px;
}

.question {
    
    color: #4caf50;
}

.choices {
    margin-left: 20px;
}

.choice {
    margin-bottom: 5px;
}

#results {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button[type="submit"] {
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}